@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
.montserrat {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    &-300 {
        @extend .open-sans;
        font-weight: 400;
    }
    &-700 {
        @extend .open-sans;
        font-weight: 700;
    }
}