.remeras {
    &-view {
        grid-template: {
            columns: repeat(2, 1fr);
            rows: 1fr;
        }
        align-items: center;
        gap: 10px;
    }
    &-configuration {
        grid-template: {
            columns: 1fr;
            rows: 2fr repeat(2, 1fr);
        }
        gap: 20px;
    }
}

#Layer_x0020_1 {
    fill: blue !important;
}

.img-multiply-shirt{
    background-image: url("../img/assets/frente-Sombras-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
}

.filter-hue{
    background-blend-mode: screen;
}

#svg-color-primario,#svg-color-secundario{
    opacity: 0.8;
}