.remeras {
    &-view {
        grid-template: {
            columns: repeat(2, 1fr);
            rows: 1fr;
        }
        align-items: center;
        gap: 10px;
    }
    &-configuration {
        grid-template: {
            columns: 1fr;
            rows: 2fr repeat(2, 1fr);
        }
        gap: 20px;
    }
}

#Layer_x0020_1 {
    fill: blue !important;
}