.img-quienes-somos {
    background: {
        image: url("../img/assets/img-quienes-somos.png");
        size: cover;
        repeat: no-repeat;
        position: center;
    }
    width: 100%;
    height: 100%;
}