script(src="js/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js", integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==", crossorigin="anonymous")
script(scr="js/formValidator.js")
script(src="js/popper.min.js")
script(src="js/bootstrap.min.js")
script(src="js/mdb.min.js")
script(src="js/jquery.minicolors.min.js")
script(src="js/main.js", type="module")
script(src="js/sliderJs.js")