extends ../templates/template.pug
block append config
    - titlePage = "Contactenos"

block append content
    .container
        .row
            .col-12
                +formContact()
            .col-12
                .my-5
                    +mapTolone()