extends ../templates/template.pug
block append config
    - titlePage = "Inicio "

block append content
    .container
        .row.my-3
            .col-sm-12.col-md-8
                .montserrat.text-uppercase.text-center
                    h2.my-3 compra directa de fabrica - sin intermediarios
                    .blue.mh-20
                    h2.my-3 indumentaria deportiva
            .col-sm-12.col-md-4.my-auto
                .card.card-body.blue
                    p asd
                .card.card-body.blue.my-4
                    p asd
                .card.card-body.blue.my-4
                    p asd
                .card.card-body.blue
                    p asd