extends ../templates/template.pug
block append config
    - titlePage = "Marcas"

block append content
    .container
        .row
            .col-12
                .text-center
                    h2 Nuestras Marcas
                    p TOLONE confecciona prendas con materias primas de calidad y ademas ofrece a sus clientes productos e implementos deportivos de primeras marcas, tales como:
        .row.align-items-center.my-5
            .col-12.col-md-4
                img(src="./img/assets/marcas-00.png", alt="").img-fluid
            .col-12.col-md-4
                img(src="./img/assets/marcas-01.png", alt="").img-fluid
            .col-12.col-md-4
                img(src="./img/assets/marcas-02.png", alt="").img-fluid