extends ../templates/template.pug
block append config
    - titlePage = "Productos"

block append content
    .container
        .row.my-3
            .col-12.my-auto
                .remeras-view.d-grid.p-2
                    #front-shirt.d-flex.align-items-center.justify-content-center.position-relative
                        +camisetaFrentePrimaria
                    #back-shirt.d-flex.align-items-center.justify-content-center
                        +camisetaDorsoPrimaria
            .col-12
                .remeras-configuration.d-grid
                    .card
                        .card-header.text-center
                                p.font-12.text-uppercase.spacing-1.open-sans.m-0 Modelos 
                        .card-body.p-1
                            +modelosRemeras(modelosRemeras)
                    .card
                        .card-header.text-center
                            p.font-12.text-uppercase.spacing-1.open-sans.m-0 Color 
                            p.font-12.text-uppercase.spacing-1.open-sans.m-0 Primario
                        .card-body.mx-auto
                            input(type="hidden", name="color1", id="c1", value="#eee").rounded-pill
                            button.btn.btn-success.btn-sm#apply-c1 aplicar
                    .card
                        .card-header.text-center
                            p.font-12.text-uppercase.spacing-1.open-sans.m-0 Color
                            p.font-12.text-uppercase.spacing-1.open-sans.m-0 Primario
                        .card-body.mx-auto
                            input(type="hidden", name="color2", id="c2", value="#333").rounded-pill
                            button.btn.btn-success.btn-sm#apply-c2 aplicar