extends ../templates/template.pug
block append config
    - titlePage = "Productos"

block append content
    .container
        .row.my-3
            .col-12.my-auto
                .remeras-view.d-grid.p-2
                    #front-shirt.d-flex.align-items-center.justify-content-center.position-relative
                        +camisetaFrentePrimaria
                    #back-shirt.d-flex.align-items-center.justify-content-center
                        +camisetaDorsoPrimaria
            .col-12
                .remeras-configuration.d-grid
                    .card#models
                        .card-header.text-center
                                p.font-12.text-uppercase.spacing-1.open-sans.m-0 Modelos 
                        .card-body.m-auto
                            +modelosRemeras(modelosRemeras)
                            //- button.btn.btn-warning.btn-sm#reset resetar 
                    .card.text-center#models_colors
                            p.font-12.text-uppercase.spacing-1.open-sans.m-0 Color primario
                            input(type="text", name="color1", id="c1", value="#eeeeee").border-0.z-depth-1.rounded-lg.open-sans-700.py-1.text-center.spancing-2
                            //- button.btn.btn-success.btn-sm#apply-c1 aplicar

                            p.font-12.text-uppercase.spacing-1.open-sans.m-my-5 Color Secundario
                            input(type="text", name="color2", id="c2", value="#333333").border-0.z-depth-1.rounded-lg.open-sans-700.py-1.text-center.spancing-2
                            //- button.btn.btn-success.btn-sm#apply-c2 aplicar
                            
                    .card#models_numbers
                        .card-header.text-center
                            p.font-12.text-uppercase.spacing-1.open-sans.m-0 nombre y numero
                        .card-body.mx-auto
                            +nombreNumerosRemeras(nombreNumero)
                            //- button.btn.btn-success.btn-sm#apply-c2 aplicar