extends ../templates/template.pug
block append config
    - titlePage = "Quienes somos"

block append content
    section.img-quienes-somos
        .container
            .row
                .col-12
                    .text-center
                        h1 Quiénes Somos
                        p TOLONE es una empresa nacida humildemente allí por el año 1978. Con mucho esfuerzo, esmero y dedicación de parte de su único dueño logro crecer significativa y progresivamente a través de los años. Con el correr del tiempo nos vimos obligados a ir de la mano de la tecnología para superar nuestras propias metas y de esta forma poder satisfacer a nuestros clientes brindándoles lo mejor de nuestra parte.

                        p Así fue que por el año 1989 adquirimos la primera y tan anhelada maquina sublimadora industrial (todo un logro fue adquirirla con muchísimo sacrificio, pero para estar entre los mejores había que tenerla SEA COMO SEA, siendo así que fuimos unos de los primeros fabricantes de camisetas en tener tan novedoso y espectacular sistema). Siguió pasando el tiempo y nosotros en constante movimiento, siempre pensando en más y mejor, año tras año invertimos en tecnología para nuestra empresa, de esta forma obtenemos mayor capacidad de producción y mejor calidad, en el año 2002 importamos nuestra primera maquina bordadora industrial computarizada capaz de bordar los escudos de cualquier club con la calidad de los escudos de 1ª división. Por ello, contamos con la tecnología y el personal capacitado para fabricar la indumentaria que nuestros clientes necesitan…

                        p Gracias por elegirnos y confiar en nosotros, valoramos el esfuerzo que cada uno de ustedes hace para obtener la vestimenta que lucirán orgullosos durante los próximos partidos y es por eso que nosotros nos esforzamos de manera continua para mantener y mejorar la calidad de nuestros productos, mas de 30 años en el mercado avalan nuestra manera de trabajar, con calidad, seriedad y esmero, día tras día creando e innovando, creciendo y progresando de la misma manera que lo hace tu club, que lo hace tu equipo y que lo haces vos…

                        p Nuestro objetivo es destacarnos, como lo hace cada uno de ustedes cuando entra a la cancha, porque en la cancha hay que ser el mejor, y cada prenda que nosotros fabricamos esta hecha con esa idea… ¨Ser Los Mejores¨