- let titlePage = "CAMBIAR EL TITULO DE LA PAGINA"
- 
    let modelosRemeras = [
        {
            name: "model01",
            path: "./img/assets/remeras/model01/modelo-1-03.svg",
            forms: ["modelo-1-01", "modelo-1-02"]
        },
        {
            name: "model02",
            path: "./img/assets/remeras/model02/modelo-2-03.svg",
            forms: ["modelo-2-01", "modelo-2-02"]
        },
        {
            name: "model03",
            path: "./img/assets/remeras/model03/modelo-3-03.svg",
            forms: ["modelo-3-01", "modelo-3-02"]
        },
        {
            name: "model04",
            path: "./img/assets/remeras/model04/modelo-4-03.svg",
            forms: ["modelo-4-01", "modelo-4-02"]
        },
        {
            name: "model05",
            path: "./img/assets/remeras/model05/modelo-5-03.svg",
            forms: ["modelo-5-01", "modelo-5-02"]
        },{
            name: "model06",
            path: "./img/assets/remeras/model06/modelo-6-03.svg",
            forms: ["modelo-6-01", "modelo-6-02"]
        },
    ]
- 
    let productCards = {
        principal: [
            {
                name: "Ropa deportiva",
                img: "product-principal-00.png",
            },
            {
                name: "Accesorios deportivos",
                img: "product-principal-01.png",
            },
            {
                name: "Pelotas de juegos",
                img: "product-principal-02.png",
            },
            {
                name: "Diseña tu camiseta",
                img: "product-principal-03.png",
            },
                ],
        second: [
            {},
        ],
    }
- 
    let navItems = [
        {
            name: "Inicio",
            link: "index"
        },{
            name: "Quienes somos",
            link: "quienes-somos"
        },{
            name: "Productos",
            link: "productos"
        },{
            name: "Galeria de fotos",
            link: "galeria"
        },{
            name: "Marcas",
            link: "marcas"
        },{
            name: "Contactenos",
            link: "contacto"
        },
    ]