- let titlePage = "CAMBIAR EL TITULO DE LA PAGINA"
- 
    let nombreNumero = [
        {
            name: "option-01",
            path: "./img/svg/nombreNumero/option-01.svg",
        },
        {
            name: "option-02",
            path: "./img/svg/nombreNumero/option-02.svg",
        },
        {
            name: "option-03",
            path: "./img/svg/nombreNumero/option-03.svg",
        },
        {
            name: "option-04",
            path: "./img/svg/nombreNumero/option-04.svg",
        },
        {
            name: "option-05",
            path: "./img/svg/nombreNumero/option-05.svg",
        },
        {
            name: "option-06",
            path: "./img/svg/nombreNumero/option-06.svg",
        },
        {
            name: "option-07",
            path: "./img/svg/nombreNumero/option-07.svg",
        },
        {
            name: "option-08",
            path: "./img/svg/nombreNumero/option-08.svg",
        },
        {
            name: "option-09",
            path: "./img/svg/nombreNumero/option-09.svg",
        },
        {
            name: "option-10",
            path: "./img/svg/nombreNumero/option-10.svg",
        },
        {
            name: "option-11",
            path: "./img/svg/nombreNumero/option-11.svg",
        },
        {
            name: "option-12",
            path: "./img/svg/nombreNumero/option-12.svg",
        },
        {
            name: "option-13",
            path: "./img/svg/nombreNumero/option-13.svg",
        },
        {
            name: "option-14",
            path: "./img/svg/nombreNumero/option-14.svg",
        },
        {
            name: "option-15",
            path: "./img/svg/nombreNumero/option-15.svg",
        },
    ]
- 
    let modelosRemeras = [
        {
            name: "model01",
            path: "./img/assets/remeras/model01/modelo-1-03.svg",
            forms: ["modelo-1-01", "modelo-1-02"]
        },
        {
            name: "model02",
            path: "./img/assets/remeras/model02/modelo-2-03.svg",
            forms: ["modelo-2-01", "modelo-2-02"]
        },
        {
            name: "model03",
            path: "./img/assets/remeras/model03/modelo-3-03.svg",
            forms: ["modelo-3-01", "modelo-3-02"]
        },
        {
            name: "model04",
            path: "./img/assets/remeras/model04/modelo-4-03.svg",
            forms: ["modelo-4-01", "modelo-4-02"]
        },
        {
            name: "model05",
            path: "./img/assets/remeras/model05/modelo-5-03.svg",
            forms: ["modelo-5-01", "modelo-5-02"]
        },
        {
            name: "model06",
            path: "./img/assets/remeras/model06/modelo-6-03.svg",
            forms: ["modelo-6-01", "modelo-6-02"]
        },
        //- {
        //-     name: "model07",
        //-     path: "./img/assets/remeras/model07/modelo-7-03.svg",
        //-     forms: ["modelo-7-01", "modelo-7-02"]
        //- },
        {
            name: "model08",
            path: "./img/assets/remeras/model08/modelo-8-03.svg",
            forms: ["modelo-8-01", "modelo-8-02"]
        },
        {
            name: "model09",
            path: "./img/assets/remeras/model09/modelo-9-03.svg",
            forms: ["modelo-9-01", "modelo-9-02"]
        },
    ]
- 
    let productCards = {
        principal: [
            {
                name: "Ropa deportiva",
                img: "product-principal-00.png",
            },
            {
                name: "Accesorios deportivos",
                img: "product-principal-01.png",
            },
            {
                name: "Pelotas de juegos",
                img: "product-principal-02.png",
            },
            {
                name: "Diseña tu camiseta",
                img: "product-principal-03.png",
            },
                ],
        second: [
            {},
        ],
    }
- 
    let navItems = [
        {
            name: "Inicio",
            link: "index"
        },{
            name: "Quienes somos",
            link: "quienes-somos"
        },{
            name: "Productos",
            link: "productos"
        },{
            name: "Galeria de fotos",
            link: "galeria"
        },{
            name: "Marcas",
            link: "marcas"
        },{
            name: "Contactenos",
            link: "contacto"
        },
    ]