- let titlePage = "CAMBIAR EL TITULO DE LA PAGINA"
- 
    let nombreNumero = [
        {
            title: "Modelo 1",
            name: "option-01",
            path: "./img/svg/nombreNumero/option-01.svg",
        },
        {
            title: "Modelo 2",
            name: "option-02",
            path: "./img/svg/nombreNumero/option-02.svg",
        },
        {
            title: "Modelo 3",
            name: "option-03",
            path: "./img/svg/nombreNumero/option-03.svg",
        },
        {
            title: "Modelo 4",
            name: "option-04",
            path: "./img/svg/nombreNumero/option-04.svg",
        },
        {
            title: "Modelo 5",
            name: "option-05",
            path: "./img/svg/nombreNumero/option-05.svg",
        },
        {
            title: "Modelo 6",
            name: "option-06",
            path: "./img/svg/nombreNumero/option-06.svg",
        },
        {
            title: "Modelo 7",
            name: "option-07",
            path: "./img/svg/nombreNumero/option-07.svg",
        },
        {
            title: "Modelo 8",
            name: "option-08",
            path: "./img/svg/nombreNumero/option-08.svg",
        },
        {
            title: "Modelo 9",
            name: "option-09",
            path: "./img/svg/nombreNumero/option-09.svg",
        },
        {
            title: "Modelo 10",
            name: "option-10",
            path: "./img/svg/nombreNumero/option-10.svg",
        },
        {
            title: "Modelo 11",
            name: "option-11",
            path: "./img/svg/nombreNumero/option-11.svg",
        },
        {
            title: "Modelo 12",
            name: "option-12",
            path: "./img/svg/nombreNumero/option-12.svg",
        },
        {
            title: "Modelo 13",
            name: "option-13",
            path: "./img/svg/nombreNumero/option-13.svg",
        },
        {
            title: "Modelo 14",
            name: "option-14",
            path: "./img/svg/nombreNumero/option-14.svg",
        },
        {
            title: "Modelo 15",
            name: "option-15",
            path: "./img/svg/nombreNumero/option-15.svg",
        },
    ]

- 
    let modelosRemeras = [
        {
            name: "model01",
            path: "./img/assets/remeras/model01/modelo-1-03.svg",
            forms: ["modelo-1-01", "modelo-1-02"]
        },
        {
            name: "model02",
            path: "./img/assets/remeras/model02/modelo-2-03.svg",
            forms: ["modelo-2-01", "modelo-2-02"]
        },
        {
            name: "model03",
            path: "./img/assets/remeras/model03/modelo-3-03.svg",
            forms: ["modelo-3-01", "modelo-3-02"]
        },
        {
            name: "model04",
            path: "./img/assets/remeras/model04/modelo-4-03.svg",
            forms: ["modelo-4-01", "modelo-4-02"]
        },
        {
            name: "model05",
            path: "./img/assets/remeras/model05/modelo-5-03.svg",
            forms: ["modelo-5-01", "modelo-5-02"]
        },
        {
            name: "model06",
            path: "./img/assets/remeras/model06/modelo-6-03.svg",
            forms: ["modelo-6-01", "modelo-6-02"]
        },
        //- {
        //-     name: "model07",
        //-     path: "./img/assets/remeras/model07/modelo-7-03.svg",
        //-     forms: ["modelo-7-01", "modelo-7-02"]
        //- },
        {
            name: "model08",
            path: "./img/assets/remeras/model08/modelo-8-03.svg",
            forms: ["modelo-8-01", "modelo-8-02"]
        },
        {
            name: "model09",
            path: "./img/assets/remeras/model09/modelo-9-03.svg",
            forms: ["modelo-9-01", "modelo-9-02"]
        },
        {
            name: "model10",
            path: "./img/assets/remeras/model10/modelo-10-03.svg",
            forms: ["modelo-10-01", "modelo-10-02"]
        },
        {
            name: "model12",
            path: "./img/assets/remeras/model12/modelo-12-03.svg",
            forms: ["modelo-12-01", "modelo-12-02"]
        },
        {
            name: "model13",
            path: "./img/assets/remeras/model13/modelo-13-03.svg",
            forms: ["modelo-13-01", "modelo-13-02"]
        },
        {
            name: "model14",
            path: "./img/assets/remeras/model14/modelo-14-03.svg",
            forms: ["modelo-14-01", "modelo-14-02"]
        },
        {
            name: "model15",
            path: "./img/assets/remeras/model15/modelo-15-03.svg",
            forms: ["modelo-15-01", "modelo-15-02"]
        },
        {
            name: "model16",
            path: "./img/assets/remeras/model16/modelo-16-03.svg",
            forms: ["modelo-16-01", "modelo-16-02"]
        },{
            name: "model17",
            path: "./img/assets/remeras/model17/modelo-17-03.svg",
            forms: ["modelo-17-01", "modelo-17-02"]
        },{
            name: "model18",
            path: "./img/assets/remeras/model18/modelo-18-03.svg",
            forms: ["modelo-18-01", "modelo-18-02"]
        },{
            name: "model19",
            path: "./img/assets/remeras/model19/modelo-19-03.svg",
            forms: ["modelo-19-01", "modelo-19-02"]
        },{
            name: "model21",
            path: "./img/assets/remeras/model21/modelo-21-03.svg",
            forms: ["modelo-21-01", "modelo-21-02", "modelo-21-04"]
        },
        {
            name: "model22",
            path: "./img/assets/remeras/model22/modelo-22-03.svg",
            forms: ["modelo-22-01", "modelo-22-02"]
        },
        {
            name: "model24",
            path: "./img/assets/remeras/model24/modelo-24-03.svg",
            forms: ["modelo-24-01", "modelo-24-02"]
        },
        {
            name: "model25",
            path: "./img/assets/remeras/model25/modelo-25-03.svg",
            forms: ["modelo-25-01", "modelo-25-02"]
        },
        {
            name: "model26",
            path: "./img/assets/remeras/model26/modelo-26-03.svg",
            forms: ["modelo-26-01", "modelo-26-02"]
        },
        {
            name: "model27",
            path: "./img/assets/remeras/model27/modelo-27-03.svg",
            forms: ["modelo-27-01", "modelo-27-02"]
        },
        {
            name: "model28",
            path: "./img/assets/remeras/model28/modelo-28-03.svg",
            forms: ["modelo-28-01", "modelo-28-02"]
        },
        {
            name: "model29",
            path: "./img/assets/remeras/model29/modelo-29-03.svg",
            forms: ["modelo-29-01", "modelo-29-02"]
        },{
            name: "model30",
            path: "./img/assets/remeras/model30/modelo-30-03.svg",
            forms: ["modelo-30-01", "modelo-30-02"]
        },
        {
            name: "model31",
            path: "./img/assets/remeras/model31/modelo-31-03.svg",
            forms: ["modelo-31-01", "modelo-31-02"]
        },
        {
            name: "model32",
            path: "./img/assets/remeras/model32/modelo-32-03.svg",
            forms: ["modelo-32-01", "modelo-32-02"]
        },
        {
            name: "model33",
            path: "./img/assets/remeras/model33/modelo-33-03.svg",
            forms: ["modelo-33-01", "modelo-33-02"]
        },
        {
            name: "model34",
            path: "./img/assets/remeras/model34/modelo-34-03.svg",
            forms: ["modelo-34-01", "modelo-34-02"]
        },
        {
            name: "model35",
            path: "./img/assets/remeras/model35/modelo-35-03.svg",
            forms: ["modelo-35-01", "modelo-35-02"]
        },
        {
            name: "model36",
            path: "./img/assets/remeras/model36/modelo-36-03.svg",
            forms: ["modelo-36-01", "modelo-36-02"]
        },
        {
            name: "model37",
            path: "./img/assets/remeras/model37/modelo-37-03.svg",
            forms: ["modelo-37-01", "modelo-37-02"]
        },
        {
            name: "model38",
            path: "./img/assets/remeras/model38/modelo-38-03.svg",
            forms: ["modelo-38-01", "modelo-38-02"]
        },
        {
            name: "model39",
            path: "./img/assets/remeras/model39/modelo-39-03.svg",
            forms: ["modelo-39-01", "modelo-39-02"]
        },
        {
            name: "model40",
            path: "./img/assets/remeras/model40/modelo-40-03.svg",
            forms: ["modelo-40-01", "modelo-40-02"]
        },
        {
            name: "model41",
            path: "./img/assets/remeras/model41/modelo-41-03.svg",
            forms: ["modelo-41-01", "modelo-41-02"]
        },{
            name: "model42",
            path: "./img/assets/remeras/model42/modelo-42-03.svg",
            forms: ["modelo-42-01", "modelo-42-02"]
        },{
            name: "model43",
            path: "./img/assets/remeras/model43/modelo-43-03.svg",
            forms: ["modelo-43-01", "modelo-43-02"]
        },{
            name: "model44",
            path: "./img/assets/remeras/model44/modelo-44-03.svg",
            forms: ["modelo-44-01", "modelo-44-02"]
        },{
            name: "model45",
            path: "./img/assets/remeras/model45/modelo-45-03.svg",
            forms: ["modelo-45-01", "modelo-45-02"]
        },{
            name: "model46",
            path: "./img/assets/remeras/model46/modelo-46-03.svg",
            forms: ["modelo-46-01", "modelo-46-02"]
        },{
            name: "model47",
            path: "./img/assets/remeras/model47/modelo-47-03.svg",
            forms: ["modelo-47-01", "modelo-47-02"]
        },{
            name: "model48",
            path: "./img/assets/remeras/model48/modelo-48-03.svg",
            forms: ["modelo-48-01", "modelo-48-02"]
        },{
            name: "model49",
            path: "./img/assets/remeras/model49/modelo-49-03.svg",
            forms: ["modelo-49-01", "modelo-49-02"]
        },{
            name: "model50",
            path: "./img/assets/remeras/model50/modelo-50-03.svg",
            forms: ["modelo-50-01", "modelo-50-02"]
        },{
            name: "model51",
            path: "./img/assets/remeras/model51/modelo-51-03.svg",
            forms: ["modelo-51-01", "modelo-51-02"]
        },{
            name: "model52",
            path: "./img/assets/remeras/model52/modelo-52-03.svg",
            forms: ["modelo-52-01", "modelo-52-02"]
        },{
            name: "model53",
            path: "./img/assets/remeras/model53/modelo-53-03.svg",
            forms: ["modelo-53-01", "modelo-53-02"]
        },{
            name: "model54",
            path: "./img/assets/remeras/model54/modelo-54-03.svg",
            forms: ["modelo-54-01", "modelo-54-02"]
        },{
            name: "model55",
            path: "./img/assets/remeras/model55/modelo-55-03.svg",
            forms: ["modelo-55-01", "modelo-55-02"]
        },{
            name: "model56",
            path: "./img/assets/remeras/model56/modelo-56-03.svg",
            forms: ["modelo-56-01", "modelo-56-02"]
        },
    ]
- 
    let productCards = {
        principal: [
            {
                name: "Ropa deportiva",
                img: "product-principal-00.png",
            },
            {
                name: "Accesorios deportivos",
                img: "product-principal-01.png",
            },
            {
                name: "Pelotas de juegos",
                img: "product-principal-02.png",
            },
            {
                name: "Diseña tu camiseta",
                img: "product-principal-03.png",
            },
                ],
        second: [
            {
                name: "Futbol",
                img: "product-second-00.png",
                branch:{
                    arquero: {
                        name:"Conjuntos de Arqueros",
                        texts:["TOLONE te ofrece una variedad de conjuntos de arqueros compuestos por buzo, pantalones, medias al tono que vos prefieras y además tenés la posibilidad de ponerle el número y tu nombre en la espalda.","También tenemos guantes y rodilleras."],
                        img: ["producto-futbol-arquero-00.png","producto-futbol-arquero-01.png","producto-futbol-arquero-02.png"]
                    },
                    equip_inter: {
                        name:"Equipos Internacionales",
                        texts:["Contamos con gran variedad de camisetas de las ligas y de las selecciones nacionales mas importantes de America y Europa.","Consulte por disponibilidad","Variedad de Talles","A pedido les ponemos números y nombres. Escudos y publicidades"],
                        img: ["producto-futbol-equipo_internacional-00.png","producto-futbol-equipo_internacional-01.png"]
                    },
                    medias: {
                        name:"Equipos Internacionales",
                        texts:["TOLONE te ofrece las medias de fútbol de equipos europeos con sus escudos.","Además, tenés la posibilidad de adquirir medias de colores combinadas o incluso de armar las medias de tu equipo incluyendo su escudo o logo."],
                        img: ["producto-futbol-medias-00.png","producto-futbol-medias-01.png"]
                    },
                    redes: {
                        name:"Redes deportivas",
                        texts:["Redes deportivas para arcos de fútbol, canchas de voley, aros de basquet y más."],
                        img: ["producto-futbol-redes-00.png","producto-futbol-redes-01.png"]
                    },
                }
            },
            {
                name: "Basquet",
                img: "product-second-01.png",
                description:"Indumentaria y accesorios de Basquet para entrenar, jugar y practicar. Camisetas, Pelotas, Redes."
            },
            {
                name: "Hockey",
                img: "product-second-02.png",
                description:"Indumentaria y accesorios de Hockey, Fundas, canilleras, protector bucal, bochas, cono"
            },
            {
                name: "Voley",
                img: "product-second-03.png",
                description:"Indumentaria y accesorios para Voley, pelotas, protecciones, redes."
            },
            {
                name: "Box / Otros",
                img: "product-second-04.png",
                description:"Indumentaria y accesorios de Boxeo y Artes marciales. Guantes, protectores,  y otros."
            },
            {
                name: "Bolsos y Mochilas",
                img: "product-second-05.png",
                description:"Gran variedad de bolsos y mochilas deportivos"
            },
            {
                name: "Accesorios",
                img: "product-second-06.png",
                description:"TOLONE te brinda una gran cantidad y variedad de accesorios que se utilizan en las actividades deportivas:"
            },
        ],
    }
- 
    let navItems = [
        {
            name: "Inicio",
            link: "index"
        },{
            name: "Quienes somos",
            link: "quienes-somos"
        },{
            name: "Productos",
            link: "productos"
        },{
            name: "Galeria de fotos",
            link: "galeria"
        },{
            name: "Marcas",
            link: "marcas"
        },{
            name: "Contactenos",
            link: "contacto"
        },
    ]