- let titlePage = "CAMBIAR EL TITULO DE LA PAGINA"
- 
    let productCards = {
        principal: [
            {
                name: "Ropa deportiva",
                img: "product-principal-00.png",
            },
            {
                name: "Accesorios deportivos",
                img: "product-principal-01.png",
            },
            {
                name: "Pelotas de juegos",
                img: "product-principal-02.png",
            },
            {
                name: "Diseña tu camiseta",
                img: "product-principal-03.png",
            },
                ],
        second: [
            {},
        ],
    }
- 
    let navItems = [
        {
            name: "Inicio",
            link: "index"
        },{
            name: "Quienes somos",
            link: "quienes-somos"
        },{
            name: "Productos",
            link: "productos"
        },{
            name: "Galeria de fotos",
            link: "galeria"
        },{
            name: "Marcas",
            link: "marcas"
        },{
            name: "Contactenos",
            link: "contacto"
        },
    ]